body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section {
    margin: 10px;
    flex: 1;
    min-width: 200px;
}

.footer-section h2 {
    margin-bottom: 15px;
}

.footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    padding: 10px;
    background: #222;
    color: #ccc;
}

.footer-bottom p {
    margin: 0;
}




/* Estilo del navbar */
#navBar {
    background-color: #512470; /* Morado */
    color: #d40707; /* Blanco */
}

/* Estilo de la imagen de la marca */
.navbar-brand img {
    width: 80px;
}

/* Estilo de los enlaces de navegación */
.nav-link {
    color: #ffffff !important; /* Blanco */
    font-weight: bold;
}

/* Efecto hover para los enlaces de navegación */
.nav-link:hover {
    color: #ff0000 !important; /* Rojo */
}

/* Estilo del botón de la barra de navegación para dispositivos pequeños */
.navbar-toggler {
    border: none;
    background-color: #ff0000; /* Rojo */
}

/* Estilo del icono del botón de la barra de navegación */
.navbar-toggler-icon {
    background-color: #d81010; /* Blanco */
}

/* Estilo del menú desplegable */
.dropdown-menu {
    background-color: #ffffff; /* Blanco */
    border: none;
}

/* Estilo de los elementos del menú desplegable */
.dropdown-item {
    color: #6a0dad; /* Morado */
}

/* Efecto hover para los elementos del menú desplegable */
.dropdown-item:hover {
    background-color: #ff0000; /* Rojo */
    color: #ffffff; /* Blanco */
}

/* Estilo del icono del carrito de compras */
#btnCarrito svg {
    fill: #ffffff; /* Blanco */
}

/* Estilo de los botones de registro e inicio de sesión */
button a {
    color: #ffffff !important; /* Blanco */
}

/* Efecto hover para los botones de registro e inicio de sesión */
button a:hover {
    color: #ff0000 !important; /* Rojo */
}

/* Estilo del item de cerrar sesión y registro para mantener alineado el diseño */
#NavCompleto .nav-item {
    padding-left: 20px; /* Espacio entre elementos del menú */
}

/* Estilo adicional para el padding de los elementos de sesión */
#NavCompleto .nav-item#paddingLeftSession {
    padding-left: 1000px; /* Espacio para el elemento de cerrar sesión */
}

#NavCompleto .nav-item#paddingLeftSignup {
    padding-left: 400px; /* Espacio para el elemento de registro */
}


