{% extends './base.html' %}

{% load static %}



{% block head %}
  <link rel="stylesheet" href="{% static 'css/spinner.css' %}">
{% endblock %}


{% block body %}
  
<div class="container bg-light rounded mt-5">
    <h1>Carrito</h1>

    <div class="row">
    <form>{% csrf_token %} 
    <table class="table bg-light rounded">
      <thead>
        <tr>
          <th scope="col">SKU</th>
          <th scope="col">Imagen</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody id="contenedorProd"></tbody>
    </table>
    <h4 colspan="6" scope="col" class="text-right text-end">TOTAL</h4>
    <div id="totalCompra" colspan="6" scope="col" class="text-right text-end"></div>
    <a href="{% url 'home' %}" class="btn btn-success mb-4" id="btnRealizarCompra">Comprar</a>
    </form>
    </div>


    <form id="transaccionForm" method="POST" action="{% url 'iniciar_transaccion' %}">
      {% csrf_token %}
      <input type="hidden" name="totalCompra" id="totalCompraField"> <!-- Nuevo campo oculto -->
      <button type="submit">Iniciar Transacción nuevaaaa</button>
  </form>
  



    #formulario de pago
    <h1>Formulario de Pago</h1>
    <form id="formPago" method="post" action="{% url 'iniciar_transaccion' %}">
        {% csrf_token %}
        <label for="amount">Monto:</label>
        <input type="hidden" id="totalCompra" value="{{ totalCompra }}">
        <input type="number" id="amount" name="amount" required>
        <button type="submit" id="btnPagar">Pagar</button>
    </form>


  </div>


    
{% endblock %}
        

{% block script %}
    <script src="{% static 'js/carrito.js' %}"></script>   
    <script>
      // JavaScript para asignar el valor de precio_calculado al campo amount antes de enviar el formulario
      function setAmount() {
          var precioCalculado = document.getElementById("totalCompra").innerText;
          document.getElementById("amount_field").value = precioCalculado;
      }
  </script>
{% endblock %}
