{% extends './base.html' %}

{% load static %}



{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

        
{% endblock %}


{% block body %}
  
<div id="carouselExampleIndicators" class="carousel slide custom-carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active d-item">
            <img src="{% static 'img/mujer_jugando.jpg' %}" class="d-block w-100 d-img custom-carousel-img" alt="slider 1">
            <div class="carousel-caption top-0 my-4">
                <p class="mt-5 fs-3 text-uppercase">
                    Descubre la ciudad
                </p>
                <h1 class="display-1 fw-bolder text-capitalize">New York</h1>
                <a class="btn animated-btn" href="nosotros.html">Haz clic aquí</a>
            </div>
        </div>
        <div class="carousel-item d-item">
            <img src="{% static 'img/perifericos_IA.jpg' %}" class="d-block w-100 d-img custom-carousel-img" alt="slider 1">
            <div class="carousel-caption top-0 my-4">
                <p class="mt-5 fs-3 text-uppercase">
                    Descubre la ciudad
                </p>
                <h1 class="display-1 fw-bolder text-capitalize">New York</h1>
                <a class="btn animated-btn" href="nosotros.html">Haz clic aquí</a>
            </div>
        </div>
        <div class="carousel-item d-item">
            <img src="{% static 'img/hombre_jugando.jpg' %}" class="d-block w-100 d-img custom-carousel-img" alt="slider 1">
            <div class="carousel-caption top-0 my-4">
                <p class="mt-5 fs-3 text-uppercase">
                    Descubre la ciudad
                </p>
                <h1 class="display-1 fw-bolder text-capitalize">New York</h1>
                <a class="btn animated-btn" href="nosotros.html">Haz clic aquí</a>
            </div>
        </div>
    </div>
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
#------------------------------------------------------------------------------------------------------------------------------------------          

          <section>
 
        
          <div class="container mt-5">
            <h2 style="text-align: left;">Unidades de mujeres:</h2>
            <div class="row">
              <div class="col mt-3">
                  <div class="card" style="width: 18rem; border-color: black;">
                      <img src="img/ardillas.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Unidad Ardillas</h5>
                        <p class="card-text">La unidad ardillas está compuesta por las niñas de 10 años, las cuales trabajan la clase progresiva de Amigo</p>
                      </div>
                    </div>
              </div>
              <div class="col mt-3">
                  <div class="card" style="width: 18rem; border-color: black;">
                      <img src="img/panteras.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Unidad Pnateras</h5>
                        <p class="card-text">La unidad Panteras está compuesta por las niñas de 11 años, las cuales trabajan la clase progresiva de Compañero</p>
                      </div>
                    </div>
              </div>
              <div class="col mt-3">
                  <div class="card" style="width: 18rem; border-color: black;">
                      <img src="img/mariposas.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Unidad Butterfly</h5>
                        <p class="card-text">La unidad Butterfly está compuesta por las niñas de 12 y 13 años, las cuales trabajan las clases progresivas de Explorador y Pionero</p>
                      </div>
                    </div>
              </div>
              <div class="col mt-3">
                  <div class="card" style="width: 18rem; border-color: black;">
                      <img src="img/bellatrix.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Unidad Bellatrix</h5>
                        <p class="card-text">La unidad Bellatrix está compuesta por las niñas de 14 años, las cuales trabajan la clase progresiva de Excursionista</p>
                      </div>
                    </div>
              </div>
              <div class="col mt-3">
                  <div class="card" style="width: 18rem; border-color: black;">
                      <img src="img/pumas.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Unidad Pumas</h5>
                        <p class="card-text">La unidad Pumas está compuesta por las niñas de 15 años, las cuales trabajan la clase progresiva de Guia</p>
                      </div>
                    </div>
              </div>
              
            </div>
          </div>
        
        
          <div class="container mt-5">
            <h2 style="text-align: left;">Unidades de hombres:</h2>
            <div class="row">
                <div class="col mt-3">
                    <div class="card" style="width: 18rem; border-color: black;">
                        <img src="img/tigras.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Unidad Tigres Blancos</h5>
                          <p class="card-text">La unidad Tigres Blancos está compuesta por los niños de 10 y 11 años, los cuales trabajan laS claseS progresivaS de Amigo y Compañero</p>  
                        </div>
                      </div>
                </div>
                <div class="col mt-3">
                    <div class="card" style="width: 18rem; border-color: black;">
                        <img src="img/lobos.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Unidad Lobos </h5>
                          <p class="card-text">La unidad TLobos está compuesta por los niños de 12 y 13, los cuales trabajan laS claseS progresivaS de Explorador y Pionero</p>
                        </div>
                      </div>
                </div>
        
                <div class="col mt-3">
                    <div class="card" style="width: 18rem; border-color: black;">
                        <img src="img/rigel.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Unidad Rigel</h5>
                          <p class="card-text">La unidad Rigel está compuesta por los niños de 14 y 15 años, los cuales trabajan las clases progresivas de  Excurcionista y Guia</p>
                          <button href="#" class="animated-btn">Haz clic aquí</button>
                        </div>
                      </div>
                </div>
            </div>
              
        </div>
          </section>


           
            {% endblock %}
        

            {% block script %}
            <script src="{% static 'js/jquery-3.6.4.min.js'%}"></script>
            <script src="{% static 'js/JqueryReloj.js'%}"></script>
            <script src="{% static 'js/api-reloj.js' %}"></script>
            <script>
                $(document).ready(function(){
                    $('#carouselExampleIndicators').carousel({
                        interval: 4000 // 4000 milisegundos = 4 segundos
                    });
                });
            </script>
            {% endblock %}



            


            