{% extends './base.html' %}

{% load static %}



{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

        
{% endblock %}


{% block body %}
  
<div id="carouselExampleIndicators" class="carousel slide custom-carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active d-item">
            <img src="{% static 'img/mujer_jugando.jpg' %}" class="d-block w-100 d-img custom-carousel-img" alt="slider 1">
            <div class="carousel-caption top-0 my-4">
                <p class="mt-5 fs-3 text-uppercase">
                    Descubre el Catalogo que tenemos para ti
                </p>
                <h1 class="display-1 fw-bolder text-capitalize">TecnoBros</h1>
                <a class="btn animated-btn" href="/catalogo">Haz clic aquí</a>
            </div>
        </div>
        <div class="carousel-item d-item">
            <img src="{% static 'img/perifericos_IA.jpg' %}" class="d-block w-100 d-img custom-carousel-img" alt="slider 1">

        </div>
        <div class="carousel-item d-item">
            <img src="{% static 'img/hombre_jugando.jpg' %}" class="d-block w-100 d-img custom-carousel-img" alt="slider 1">

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>
    </div>
         

          <section>
            <div class="div">
              <h1>¡Bienvenidos a TecnoBros!</h1>
              <br>
              <h1>
                Encuentra los mejores periféricos y accesorios de computación en un solo lugar. Desde teclados mecánicos y ratones
                de alta precisión hasta auriculares y monitores de última generación, tenemos todo lo que necesitas para mejorar tu
                experiencia digital. Ofrecemos productos de las marcas más reconocidas y un servicio excepcional para ayudarte a
                encontrar lo que mejor se adapte a tus necesidades. ¡Explora nuestras ofertas y lleva tu tecnología al siguiente nivel
                con TecnoBros!

              </h1>
              <br>
              <h1>
                Además tenemos promociones en ¡¡Videojuegos!! solo para ti junto a nuestros amigos de TheGameShopper.
              </h1>
            </div>
        
          
          </section>


           
            {% endblock %}
        

            {% block script %}
            <script src="{% static 'js/jquery-3.6.4.min.js'%}"></script>
            <script src="{% static 'js/JqueryReloj.js'%}"></script>
            <script src="{% static 'js/api-reloj.js' %}"></script>
            {% endblock %}



            


            