{% extends './base.html' %}  

{% load static %}



{% block head %}



{% endblock %}




{% block body %}

<div id="ContenedorInicioSe" class="container mt-5 mb-5 ">
  <div class="row align mb-5">
      <div class="col-6 p-0">
          <img src="{% static 'img/perifericos_IA_2.jpg' %}" alt="Dragon" style="width: 100%; height: 50vh; object-fit: cover; border-radius: 10%;">
      </div>
      <div class="col-6 bg-white p-5 rounded-end">

          
          <h2 class="fw-bold text-center py-3">
              Bienvenido Al Jardín del Dragón
          </h2>
          
          <form action="/signin/" method="POST">
              {% csrf_token %}
              <h3 class="text-center">Registro de usuario</h3>
              {{error}}
              <div class="mb-3">
                <label for="username" class="form-label">Usuario:</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Escriba su usuario">
              </div>
      
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Escriba su contraseña">
              </div>       
              <button class="btn btn-primary w-100">
                Signup
              </button>
          </form>
      </div>
  </div>
</div>          


{% endblock %}



